# JetBrains
# =========
.idea/

# Distribution
# =========
dist/

# Node Modules
# =========
node_modules/
yarn.lock
yarn-error.log

# Electron
# =========
desktop-client-*

# OSX Mac
# =========
.DS_Store
