.welcome h1 {
    margin: 0 30px 5px 30px;
}

ul.survey {
    padding: 0;
}

ul.survey li.survey-item {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 28px;
}

ul.survey li.survey-item i {
    margin-right: 5px;
    cursor: pointer;
}
